form{
	max-width: 370px;
	height: 400px;
	padding: 10px;
	margin: 10px;
}

label, textarea{
	margin-top: 10px;
}
.table_content li{
	width: 100%;
	font-size: 14px;
	border: 1px solid  cadetblue;

}

.color_form{
	background-color: cadetblue;
}
