form{
	max-width: 370px;
	height: 300px;
	padding: 10px;
	margin: 10px;
}

label, textarea{
	margin-top: 10px;
	width: 350px;
   	padding: 5px;
}
.table_content li{
	width: 37%;
	font-size: 14px;
	border: 1px solid  cadetblue;
	margin: 5px;
    padding: 10px;

}
li:hover{
	background-color: burlywood;
	transition: 1s;
}

.color_form{
	background-color: cadetblue;
	width: 40%;
}
